doctype html
html(lang="de")
  head
    title= "medienfassade.informatik.haw-hamburg.de"
    meta(charset="UTF-8")
    script(src="../includes/libs.external/js/jquery/jquery-2.1.4.min.js")
    link(rel="stylesheet" type="text/css" href="style.css")
    script(src="../includes/framework.js")
    script(src="flip.js")
  body
    iframe.runner(id="runner" src="starfield.html")